*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    background-color: #24292e;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
}

